<style type="text/css" media="screen">
  .header {
    float: left;
  }
  .otherHeader {
    margin-left: 40px;
  }
</style>


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Interviewees List</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</div>

<div id="mainTable">
  <div id="tableHeader">
    <div class="header" style>First name</div>
    <div class="otherHeader header">Last name</div>
    <div class="otherHeader header">Phone</div>
    <div class="otherHeader header">Email</div>
    <div class="otherHeader"></div>
    <div class="otherHeader"></div>
    <div class="otherHeader"></div></br><br>
  </div>

<% @interviewees.each do |interviewee| %>
  <tr>
    <td><%= interviewee.first_name %></td>
    <td><%= interviewee.last_name %></td>
    <td><%= interviewee.phone %></td>
    <td><%= interviewee.email %></td>
    <td><%= link_to 'Show', interviewee %></td>
    <td><%= link_to 'Edit', edit_interviewee_path(interviewee) %></td>
    <td><%= link_to 'Destroy', interviewee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</div>

<br />

<%= link_to 'New Interviewee', new_interviewee_path %>
