<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @interviewer.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @interviewer.first_name %>
</p>


<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
